
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Course</h1>
                <form>
                    <label>Title:</label>
                    <input name="" type="text" id="title">

                    <label>Type:</label>
                    <input name="" type="text" id="type">

                    <label>Certificate:</label>
                    <input name="" type="text" id="certificate">

                    <label>Image:</label>
                    <input name="" type="text" id="image" placeholder="http://...">

                    <label>Description:</label>
                    <textarea id="content" name=""></textarea>

                    <label>Price:</label>
                    <input name="" type="number" id="price">

                    <input type="submit" id="btn" value="Create">
                </form>
            </div>
        </section>
   