
        <div class="register-box">
            <h1>Register</h1>
            <form action="#">
                <label>Username</label>
                <input type="text" placeholder="Username.." name="">
                <label>Email</label>
                <input type="text" placeholder="Email.." name="">
                <label>Password</label>
                <input type="password" placeholder="Password.." name="">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm Password.." name="">
                <input type="submit" value="Submit">
            </form>
            <p>Already have an account? <a href="#">Login here</a></p>
        </div>
